body {
  display: flex;
  justify-content: center;
  background-color: rgb(49, 49, 49);
}

button {
  text-align: center;
  font-size: 36px;
  width: 150px;
  height: 150px;
  border: 2px solid white;
  vertical-align: middle;
}

.status {
  text-align: center;
  font-size: 48px;
  padding: 20px;
}

#description {
  font-size: 18px;
  height: 100px;
  width: 200px;
}

#descriptionList {
  text-align: center;
  margin: 20px;
}
